* {
    margin: 0;
    padding: 0;
}
.navigation {
    width: 300px;
    height: 100vh;
    overflow: scroll;
    float: left;
    position: fixed; 
}
#navbar {
    
}
#navbar header {
    font-size: 28.8px;
    padding: 10px;
}
#navbar .nav-area ul li {
    list-style-type: none;
    margin: 10px;
}
#navbar .nav-area ul li a {
    text-decoration: none;
    color: rgb(77, 78, 83);
    margin: 10px;
    font-size: 20px;
}
.main-area {
   padding: 30px; 
    margin-left: 300px
}
#main-doc {
    color: rgb(77, 78, 83);
}
#main-doc section header {
    font-size: 28.8px;
    margin: 10px 0;
    color: #000;
}
#main-doc section p {
    padding: 10px 0 0 20px;
}
#main-doc section ul li {
    margin: 10px 0 0 100px;
}
#main-doc section .code-area {
    width: 900px;
    height: 70px;
    background: rgb(247, 247, 247);
    margin:  10px 0 0 40px;
}

@media screen and (max-width: 480px) {
    body {
        background: rgb(247, 247, 200);
    }
}