* {
    margin: 0;
    padding: 0;
}
body {
   font-family: 'Raleway', sans-serif;
}
.area {
    position: relative;
}
header {
    width: 100%;
    height: 50px;
    background: #be3144;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px 15px rgba(0,0,0,0.1); 
}
#navbar {
    position: absolute;
    right: 100px;
    
}
#navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 12px 25px;
}
#navbar ul li a {
    text-decoration: none;
    color: rgb(240, 240, 240); 
    font-size: 20px;
    padding: 14px 15px;
}
#navbar ul li a:hover {
    background: #45567d;
}


#welcome-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(62deg, rgb(58, 61, 64) 0%, rgb(24, 23, 25) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-section h1 {
    color: rgb(240, 240, 240);
    font-size: 60px;
    font-family: 'Dosis';
}
#welcome-section span {
    color: rgb(190, 49, 68);
    font-style: italic; 
    font-size: 20px;
}
.pro-area {
    width: 100%;
    height: 100vh;
    background: #45567d; 
}
#projects{
    padding: 30px;
}
#projects p {
    font-size: 40px;
    text-align: center;
    margin: 60px 0 10px 0;
    color: rgb(240, 240, 240);;
}
#projects hr {
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 70px;
    color: rgb(240, 240, 240);;
}
figure {
    float: left;
    text-align: center;
    background: #303841;
    margin-right: 29px;
    box-shadow: 0 5px 10px 15px rgba(0,0,0,0.1); 
}
.pro {
    margin-right:0;
}
figure figcaption {
    padding: 10px;
    color: rgb(240, 240, 240);
    font-weight: bold;
}
.project1 img {
    width: 400px;
    height: auto;
}
figure a {
    text-decoration: none;
}
figure:hover {
    background: #be3144;
}
.btn {
    margin-top: 450px;
    display: flex;
    justify-content: center;
}
.btn button {
    padding: 6px 15px;
    font-size: 20px;
    border: 0;
    background: #303841;
    color: #f0f0f0;
}
.btn button:hover {
    background: #be3144;
}
.link-area {
    width: 100%;
    height: 100vh;
    background: #303841;
}
.link-area-head, #profile-link {
    display: flex;
    justify-content: center;
}
.offer {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    color: rgb(240, 240, 240);
}
.link-area-head p{
    margin: 150px 0 50px 0;
    font-size: 60px;
    color: rgb(240, 240, 240);
    font-weight: bold;
}
#profile-link ul li {
    list-style-type: none;
    float: left;
    margin-bottom: 180px;
    margin-right: 20px;
}
#profile-link ul li a {
    text-decoration: none;
    color:rgb(240, 240, 240);
    
    font-size: 20px;
    
}
#profile-link ul li:last-child {
    margin-right:0;
}
#profile-link ul li a:hover {
    padding: 10px; 
}
footer {
    position: absolute;
    bottom: 0;
}
.link-area hr {
    color: rgb(240, 240, 240);
}
footer p {
    float: left;
    margin: 0px 250px 20px 250px;
    font-size: 15px;
    color: rgb(240, 240, 240);
}

@media (max-width: 480px) {
    #navbar ul li a {
        color: aliceblue;
    }
}